<div class=" ">
    <h2 class="mb-4 text-4xl text-center uppercase font-bold text-amber-600">welcome   create new blog</h2>
    
    <%= render partial: "form", locals: {blog_post: @blog_post} %>
</div>
