<div class="mb-5 text-4xl text-center uppercase font-bold text-amber-600  hover:text-amber-300">
    <%= link_to "edit" , edit_blog_post_path(@blog_post)  if user_signed_in? %>
</div>
<h1 class="text-gray-900 px-3 py-2 mb-5 text-4xl text-center uppercase font-bold " ><%= @blog_post.title %></h1>
<div class="text-gray-600 font-light mb-2 text-3xl">
    <%= @blog_post.body %>
</div>